* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	margin: 0;
	padding: 8px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;
	font-size: 16px;
	background: #FAFAFB;
}

#threads-container {
	display: grid;
	width: 100%;
	max-width: 1000px;
}

#threads-container > .thread,
#threads-container > .thread-header {
	display: grid;
	grid-template-columns: 120px 1fr 160px 80px;
	background-color: #ECEDEE;
}

#threads-container > .thread {
	min-height: 64px;
}

#threads-container > .thread:nth-child(odd) {
	background-color: #F2F2F3;
}

.thread-header > *,
.thread > * {
	border-left: 1px solid #D7D8DA;
	border-bottom: 1px solid #D7D8DA;
	padding: 8px 10px;
	overflow: hidden;
	word-wrap: break-word;
}

.thread-header > * {
	border-top: 1px solid #D7D8DA;
	font-style: italic;
	font-size: 15px;
	color: #737373;
}

.thread-header > *:last-child,
.thread > *:last-child {
	border-right: 1px solid #D7D8DA;
}

.thread-bars {
	position: relative;
	display: grid;
	grid-gap: 10px;
	align-content: start;
}

.thread.locked .thread-bars::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 9px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("img/lock.svg");
}

.thread-bar-container {
	width: 100%;
	height: 20px;
	border: 1px solid #BCBCBC;
}

.thread-bar {
	width: 100%;
	height: 100%;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.thread-bar,
.thread-bar::-webkit-progress-bar {
	background: #e6e6e6;
}

/* Define these separately to work around a Chrome bug */
.thread-bar::-webkit-progress-value {
	background: currentcolor;
}
.thread-bar::-moz-progress-bar {
	background: currentcolor;
}

.rad-bar-container,
.elegant-bar-container {
	grid-row: 2;
	grid-column: 1 / -1;
}

.elegant-bar-container {
	direction: rtl;
}

.elegant-bar,
.elegant-bar::-webkit-progress-bar {
	background: transparent;
}

.thread-bar-container {
	position: relative;
}

.thread-bar-container::before {
	content: "";
	z-index: 1;
	display: block;
	position: absolute;
	margin: 2px;
	height: 14px;
	width: 14px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.flame-bar {
	color: red;
}
.flame-bar-container::before {
	background-image: url("img/flame.svg");
}
.rad-bar {
	color: orange;
}
.rad-bar-container::before {
	background-image: url("img/cap.svg");
}
.elegant-bar {
	color: blue;
}
.elegant-bar-container::before {
	background-image: url("img/top-hat.svg");
}

.thread h1 {
	margin: 0;
	margin-bottom: 5px;
}

.thread-actions {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.thread-actions > * {
	display: inline-block;
}

.thread-actions > *::before {
	content: ">";
	margin-right: 5px;
}

.thread-action {
	color: black;
	cursor: pointer;
}

.thread-action:hover {
	color: black;
	text-decoration: underline;
}

.thread-action:active {
	color: red;
}
